@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62,5%; /* ==> 10px <==*/
  
  --background: #EFEFEF;
  --white: #fff;
  --blue-dark: #181C2E;
  --black: #121212;
  --blue: #4B90F7;
  --green: #02a157;
  --green-yellow: #5fd204;
  --orange: #f3a32b;
  --red-orange: #F8856B;
  --gray: #ddd;
  --gray-black: rgb(121, 120, 120);
  --yellow: rgb(203, 206, 19);
}

body,:root, html{
  font-family: 'Roboto', sans-serif;
}

button{
  cursor: pointer;
  outline: none;
}

input{
  outline: none;
}

a{
  text-decoration: none;
}


h1{
  font-size: 2rem;
  font-weight: bold;
}

h2{
  font-size: 1.5rem;
  font-weight: 400;
}

p{
  font-size: 1.3rem;
  font-weight: 400;
}
